.question-card {
transition: transform 0.5s ease-in-out, opacity 0.5s;

    form{
        transform: translateY(-15%);
        font-size: large;
        border-radius: 25px;
        padding: 20px;
        background-color: #3674B5;
        z-index: 5;
        div, label, span{
            background-color: transparent;
        }

    }
}

.question-card.animate {
transform: scale(0.1);
opacity: 0;
}
  